{% extends 'catalog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% load short_description %}

    <div class="container">

        {% for product in page_obj %}

            <div class="row text-center">
                <div class="col-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ product.title }}</h4>
                        </div>
                        {% if product.image %}

                            <img src="{{ product.image.url }}" alt="img">
                        {% endif %}
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ product.price }} руб.</h1>

                            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                <li>- {{ product.description | short_description }}</li>

                            </ul>

                            <a type="button" href="{% url 'catalog:detail_product' product.id %}"
                               class="btn btn-lg btn-block btn-outline-primary">Детализация</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="example1-pagination">
            {% if page_obj.has_previous %}
                <a class="example1-pagination_link" href="?page=1">&laquo; первая</a>
                <a class="example1-pagination_link" href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="example1-pagination_link example1-pagination_link__active">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

            {% if page_obj.has_next %}
                <a class="example1-pagination_link" href="?page={{ page_obj.next_page_number }}">следующая</a>
                <a class="example1-pagination_link" href="?page={{ page_obj.paginator.num_pages }}">последняя
                    &raquo;</a>
            {% endif %}
        </div>
    </div>
{% endblock %}