{% extends 'catalog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% load short_description %}

    <div class="container">
        <h1 class="text-dark">Список продуктов</h1>

        {% for object in object_list %}

            <div class="row text-center">
                <div class="col-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                        </div>
                        {% if object.image %}

                            <img src="{{ object.image.url }}" alt="img">
                        {% endif %}
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ object.price }} руб.</h1>

                            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                <li>- {{ object.description | short_description }}</li>


                            {% for ver in object.versions.all %}
                                {% if ver.is_active %}
                                    <li>-Назавание версии: {{ ver.name_version }}</li>
                                    <li>-Номер версии: {{ ver.number_version }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>


                            <a type="button" href="{% url 'catalog:product_detail' object.id %}"
                               class="btn btn-lg btn-block btn-outline-primary">Детализация</a>

                            <a type="button" href="{% url 'catalog:update_product' object.id %}"
                               class="btn btn-lg btn-block btn-danger">Изменить</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
{#        <div class="example1-pagination">#}
{#            {% if page_obj.has_previous %}#}
{#                <a class="example1-pagination_link" href="?page=1">&laquo; первая</a>#}
{#                <a class="example1-pagination_link" href="?page={{ page_obj.previous_page_number }}">предыдущая</a>#}
{#            {% endif %}#}
{##}
{#            <span class="example1-pagination_link example1-pagination_link__active">#}
{#            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#            {% if page_obj.has_next %}#}
{#                <a class="example1-pagination_link" href="?page={{ page_obj.next_page_number }}">следующая</a>#}
{#                <a class="example1-pagination_link" href="?page={{ page_obj.paginator.num_pages }}">последняя#}
{#                    &raquo;</a>#}
{#            {% endif %}#}
{#        </div>#}
    </div>
{% endblock %}